* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* This incorporates both the "HoriSEOn" text as well as the three nav options on the
right.  Wrapping them all within a "header" element improves SEO for these keywords */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

/* The below rules enable the bulleted list within <nav> to display inline as
    well as format consistently within the header */

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* The below rules dictate the style of the left-hand side of the main body of text.
    The have been consolidated to eliminate a class from the original HTML, which will
    make the layout easier to influence in the future should you want style changes */
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

section img {
    max-height: 200px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* This rule will re-format all non-header text within both <section> and <aside> */  
p {
    font-size: 16px;
}

/* The below rules dictate the style of the right-hand side of the main body of text.
    They have been consolidated to eliminate a class from the original HTML, which will
    make the layout easier to influence in the future should you want style changes */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* The below two elements format the bottom text on the page */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 16px;
}

h4 {
    font-size: 20px;
}

/* This class changes the color of the "SEO" text in "Horiseon" in the header */
.seo {
    color: #d9dcd6;
}

/* This class pushes and formats the image separating the header from the remainder
    of the body of the page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* The below two classes dictate the formatting of the three images within the <section> 
    element */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


/* The below rules dictate the style of text used within the section and aside elements.
    The have been consolidated from three classes per element to one, to make the layout
    easier to influence in the future should you want style changes in the future */
.section-indv {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.aside-indv {
    margin-bottom: 32px;
    color: #ffffff;
}